<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.1.1.0" newVersion="2020.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.1.1.0" newVersion="2020.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Wpf" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.1.1.0" newVersion="2020.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
