<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.864.35" targetFramework="net452" />
  <package id="Stimulsoft.Dashboards.Win" version="2022.2.6" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Engine" version="2022.2.6" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Net" version="2022.2.6" targetFramework="net452" />
  <package id="Stimulsoft.Svg" version="2022.2.1" targetFramework="net452" />
</packages>