<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.OData.Client" version="7.5.4" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="7.5.4" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.5.4" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.5.4" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1343.22" targetFramework="net452" />
  <package id="Stimulsoft.Dashboards.Win" version="2023.2.4" targetFramework="net452" />
  <package id="Stimulsoft.Data.OData" version="2023.1.7" targetFramework="net472" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2023.2.4" targetFramework="net452" />
  <package id="Stimulsoft.Reports.Net" version="2023.2.4" targetFramework="net452" />
  <package id="Stimulsoft.Svg" version="2023.2.4" targetFramework="net452" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
</packages>