<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.OData.Client" version="7.5.4" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="7.5.4" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="7.5.4" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="7.5.4" targetFramework="net45" />
  <package id="Stimulsoft.Dashboards.Win" version="2021.3.7" targetFramework="net45" />
  <package id="Stimulsoft.Data.OData" version="2021.1.1" targetFramework="net45" />
  <package id="Stimulsoft.Reports.Engine" version="2021.3.7" targetFramework="net45" />
  <package id="Stimulsoft.Reports.Net" version="2021.3.7" targetFramework="net45" />
  <package id="Stimulsoft.Svg" version="2021.3.7" targetFramework="net45" />
</packages>