<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Stimulsoft.Dashboards.Win" version="2021.2.2" targetFramework="net45" />
  <package id="Stimulsoft.Reports.Engine" version="2021.2.2" targetFramework="net45" />
  <package id="Stimulsoft.Reports.Net" version="2021.2.2" targetFramework="net45" />
</packages>